:root {
  --primary-color: #3182ce;
  --primary-color-light: #e1f5fe;
  --secondary-color: #212121;
  --white: white;
  --success: #388e3c;
}

p.first-letter-large::first-letter {
  font-size: 3rem;
}

.contact-bg {
  background-image: url("assets/image/contactme-bg.jpg");
  height: 10rem;
  background-size: cover;
  background-position: center;
}

.capitalize {
  text-transform: capitalize;
}
